# Environment
.env.local
.env

# Dependencies
node_modules

# iOS
ios/Pods
ios/build
ios/Podfile.lock
ios/.xcode.env.local
*.xcworkspace
*.xcuserstate
DerivedData/

# Android
android/.gradle
android/app/build
android/build

# Metro
.metro-health-check*

# Ruby
ios/Gemfile.lock
ios/vendor/
